

body {
    background-color:rgb(12, 12, 12);
    height: 100vh;  
}

h1{
    margin: 5px;
    padding:5px;  
    color:rgb(139, 0, 7);
    font-family:cursive;
}


form {
    margin: 5px;
    padding:5px;  

}

button {
    background-color:rgb(139, 0, 0);
    color: rgba(255, 255, 255, 0.534);
}

IMG {
    margin: 5px;
    padding:5px;  
    align-items: center;
}